body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

header{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
table{
    width: 100%;
}
thead{
    background-color: lightgray;

}
th{
    padding-left: 5px;
    text-align: left;
    
}
td{
    background-color: peachpuff;
}
tfoot{
    background-color: lightgreen;
}