body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

header{
    text-align: center;
    color: lavender;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    
}
input{
    margin: 5px;
    height: 25px;
    border: solid cornflowerblue;
    border-radius: 10em;
}
#submitBtn{
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    height: 25px;
    border-radius: 10em;
    cursor: pointer;
}
/*.submitBtn{
    text-align: right;
    padding-inline-end: 50em;
} */
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: lightgray;

}
th{
    padding-left: 5px;
    text-align: left;
    border: solid black 1px;
    
}
.addedRows{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color:lavenderblush;
    border: solid black 1px;    
}
#tableFooter{
    border: solid black 1px;
    background-color: lavenderblush;
    height: 30px;
    text-align: center;
    font-size: larger;
    padding-left: 150px;
}
.red{
    color: red;
}
.dleteBtn{
    border-radius: 10em;
}
/* .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  } */